// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #de604d !default;
$header-bg-color-secondary: #531212 !default;

// Text
$section-headings-color: #de604d !default;
$body-text-color: #606c71 !default;
$body-link-color: #8db0fe !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #8db0fe !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;


// coolwarm Color Map
// #3b4cc0
// #6282ea
// #8db0fe
// #b8d0f9
// #dddddd
// #f5c4ad
// #f49a7b
// #de604d
// #b40426